img {
  width: 170px;
  height: 170px;
}
.main-container {
  top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.row-content {
  display: flex;
  margin: 20px;
  min-width: 45%;
  border: solid grey 5px;
  border-radius: 10px;
}
.row-content:hover {
  background-color: black;
  color: white;
}
.content-detail {
  width: 50%;
  text-align: left;
  padding-left: 20px;
}
.content-image {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
